<div class="navBar">

  <div class="infoNav">

    <div class="separator1"></div>

    <img class="img1" src="asset/whatsapp.png" alt="whatsapp.png" (click)="sendWhatsappMessage('')"> <span>+57
      3106589572</span>
    <a href="mailto:fundaciónmisionlifemv&#64;gmail.com"><img src="asset/mail.png" alt="mail.png"></a>
    <span>fundaciónmisionlifemv&#64;gmail.com</span>

    <div class="separator2"></div>

    <img src="asset/facebook.png" alt="facebook.png"
      (click)="openNewTab('https://www.facebook.com/profile.php?id=61569471776260&locale=es_ES')">
    <img src="asset/instagram.png" alt="instagram.png"
      (click)="openNewTab('https://www.instagram.com/fundacionmisionlife/')">
    <img src="asset/linkedin-logo.png" alt="linkedin.png">
    <img src="asset/youtube.png" alt="youtube.png">

  </div>

  <div class="navAction">
    <img src="asset/LogoMisionLife.png" alt="logomisionlife.png">
    <span class="text1">Inicio</span> <span class="text2"><a style="text-decoration: none; color: white;"
        href="#whoPanel">Conocenos</a></span> <span class="text3"><a style="text-decoration: none; color: white;"
        href="#footer">Contactenos</a></span>
    <div class="separator1"></div>
    <button (click)="sendWhatsappMessage('Bendiciones! ... Quisiera donar ahora 🙏')">¡Dona ahora!</button>
  </div>

</div>

<div class="initBackground">
  <div>
    <h3>"Por que para Dios no hay nada imposible"</h3>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>(Lucas 1:37)</span>
  </div>
</div>

<div class="whoPanel" id="whoPanel">
  <img src="asset/image (1).png" alt="imgwho" class="whoImage">
  <div class="whoContent">
    <h3>¿Quiénes somos?</h3>
    <p>En la Fundación Mision Life, nuestro compromiso es mejorar la calidad de vida de las personas más vulnerables,
      especialmente jóvenes, niños y adultos mayores. Nuestra misión es contribuir al desarrollo integral de estos
      grupos a través de procesos educativos, sociales, culturales y recreativos. Trabajamos tanto en áreas urbanas como
      rurales, brindando apoyo a familias de bajos recursos económicos.

      Nos enfocamos en promover actividades que fortalezcan habilidades, destrezas y potenciales, generando un impacto
      positivo en la vida de nuestros beneficiarios. Además, implementamos programas de salud, educación y recreación,
      apoyados por profesionales e instituciones nacionales e internacionales, con el fin de satisfacer las necesidades
      inmediatas de las comunidades que atendemos.

      Con el propósito de garantizar la sostenibilidad de nuestras acciones, diseñamos y desarrollamos mecanismos
      financieros para captar recursos a través de convenios, donaciones y colaboraciones. De esta forma, buscamos
      mantener y expandir nuestras iniciativas, mejorando la vida de quienes más lo necesitan.

      En Mision Life, trabajamos incansablemente para ser un motor de cambio positivo, promoviendo la inclusión social y
      el bienestar integral de las personas en situación de vulnerabilidad.</p>
    <div class="buttonContainer">
      <button>Conoce más sobre nosotros</button>
    </div>
  </div>
</div>

<div class="strategicAreas">

  <h3>EXPLORA NUESTRAS AREAS ESTRATEGICAS</h3>

  <div class="educationPanel">
    <img src="asset/image (2).png" alt="educationLogo">
    <h5>Educacion</h5>
    <p>La educación es fundamental para el crecimiento y desarrollo de las comunidades vulnerables. En nuestra Fundación, promovemos el acceso a educación de calidad, brindando herramientas que empoderan a niños, jóvenes y adultos mayores para mejorar sus oportunidades de vida.</p>
  </div>

  <div class="foodSafetyPanel">
    <img src="asset/image (3).png" alt="foodSafetyLogo">
    <h5>Seguridad Alimentaria</h5>
    <p>La seguridad alimentaria es esencial para el bienestar de las familias más necesitadas. Trabajamos para garantizar el acceso a una alimentación adecuada, contribuyendo a mejorar la salud y la calidad de vida de las personas en situación de vulnerabilidad.</p>
  </div>

  <div class="developmentIntegralPanel">
    <img src="asset/image (4).png" alt="developmentIntegralLogo">
    <h5>Desarrollo Integral</h5>
    <p>El desarrollo integral es clave para alcanzar un progreso duradero. Nuestra Fundación promueve actividades que fortalecen las habilidades y capacidades de los beneficiarios, favoreciendo su crecimiento personal, social y económico en todas las etapas de la vida.</p>
  </div>

</div>

<div class="odsSupport">
  <h3>Nuestro Aporte a las ODS</h3>
  <div class="imagesContainer">
    <img src="asset/ods2.png" alt="ods2.png">
    <img src="asset/ods3.png" alt="ods3.png">
    <img src="asset/ods1.png" alt="ods1.png">
    <img src="asset/ods4.png" alt="ods4.png">
  </div>
</div>

<div class="footer" id="footer">
  <button (click)="sendWhatsappMessage('Bendiciones! Como estan?! 🙏👐')">Contactanos</button>
</div>